@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all;

}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

@layer components {
    .post_interactions {
        @apply flex flex-grow justify-center items-center py-2 rounded-lg cursor-pointer gap-1
    }

    .post_interactions_numbers {
        @apply text-sm mb-0.5
    }

    .post_interactions:hover {
        @apply bg-light_gray
    }
}

.carousel_indicator::-webkit-scrollbar {
    display: none;
}

.track-line::before {
    content: '';
    position: absolute;
    border-left-width: 3px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin-top: 8px;
    border-bottom-left-radius: 6px;
    border-bottom-width: 3px;
    border-color: #D3D3D3;
    border-style: solid;
    left: 20px;
    width: 20px;
    height: 14px;
}

.post-caption {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-caption.full {
    max-height: none;
}